@font-face {
    font-family: coolFont;
    src: url(font/coolFont.ttf);
}
@font-face {
    font-family: badfont;
    src: url(font/badfont.otf);
}
@font-face {
    font-family: starwarsmain;
    src: url(font/starwarsmain.ttf);
}
body{
    font-size: 0;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-image: url(images/forestbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.game-title,
.game-subtitle{
    font-family: badFont;
    font-size: 120px;
    color: black;
    text-align: center;
    font-weight: bolder;
    margin: 20px 0 0;
    text-shadow:
            6px 6px white,
            -6px 6px white,
            6px -6px white,
            -6px -6px white,
            6px 6px 9px white;
}
.game-subtitle{
    font-family: starwarsmain;
    font-size: 40px;
    margin: 10px 0 20px;
    text-shadow:
            3px 3px white,
            -3px 3px white,
            3px -3px white,
            -3px -3px white,
            3px 3px 5px white;
}
#back-board{
    display: inline-block;
}
#back-board > div > div{
    background-color: #27660c;
    border: 2px solid black;
    display: inline-block;
    height: 80px;
    width: 80px;
}
.game-contents{
    text-align: center;
}
.stats_container{
    width: 165px;
    height: 250px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 20px;
    bottom: 198px;
}
#stats_container1{
    bottom: 193px;
}
.player-info{
    font-size: 20px;
    font-weight: bold;
}
.player_one-name,
.player_two-name{
    font-family: starwarsmain;
    margin: 30px 0 10px;
    font-size: 40px;
    text-shadow:
            3px 3px white,
            -3px 3px white,
            3px -3px white,
            -3px -3px white,
            3px 3px 5px white;
}
.player1-value,
.player2-value{
    margin: 0 0 20px;
    color: darkred;
    font-family: coolFont;
    font-size: 40px;
    text-shadow:
            2px 2px white,
            -2px 2px white,
            2px -2px white,
            -2px -2px white,
            2px 2px 5px white;
}
#player-imageOne,
#player-imageTwo {
    width: 150px;
    height: auto;
    border: 3px solid black;
    box-shadow: 0 0 30px 2px whitesmoke;
}
#reset-button{
    margin-top: 20px;
}
.reset{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    font-family: coolFont;
    color: white;
    background-color: black;
    display: inline;
}
.reset:hover {
    background-color: ghostwhite;
    color: black;
    text-shadow:
            1px 1px white,
            -1px 1px white,
            1px -1px white,
            -1px -1px white,
            1px 1px 5px white;
}
.white-disc{
    background-image: url(images/jedi1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.black-disc{
    background-image: url(images/Sith_Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#jedi-on,
#sith-on {
    width: 125px;
    height: auto;
}
.hiddenClass {
    display: none;
}

.allowedSpot{
    background-image: url("images/allowed_pic.gif");
    background-size: contain;
    background-repeat: no-repeat;
}
.allowedSpot:hover{
    background-image: url("images/vader_dodge.gif");
    background-size: cover;
}